.LetterToReader {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  max-width: 900px;

}

.LetterToMin {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  max-width: 900px;

}