.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-left: 20px;
  background-color: lightgreen;
  top: 0px;
  left: 0px;
}

  
.navbar-first {
  margin-right: auto;
  padding-left: 20px !important;
}

.navbar-last {
  padding-right: 50px !important;
}

#navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }


/* Maps are not yet centered
*/
.Maps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.Map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.Content {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Extra {
  text-align: left;
}

.left-content {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.Content {
  display: flex;
  flex-direction: row;
}

.footer {
  color: black;
  width: 100%;
}