.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart {
  margin-right: 50px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 1px 1px #d2d2d2;
  background: white;
}

.item1 {grid-area: header;}
.item2 {grid-area: left-side;}
.item3 {grid-area: main;}
.item4 {grid-area: cart;}
.item5 {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'left-side main cart'
    'footer footer footer';
  gap: 10px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}

.button {
  background-color: white;
  color: rgb(30, 30, 30);
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.item1 {
  display: flex;
  justify-content: center;
  
}
